<% form_tag @article.comment_url do %>

	<h5 class="feedback"><%= @article.published_comments.size > 0 ? 'Comment' : 'Be the first to comment'%> <em><%=@article.title%></em></h5>
	<p>Trolls and disrespectful comments will be deleted.</p>
	<p>
      	<%= text_field "comment", "author" %>
		<label for="comment_author">Your name (mandatory)</label>
	</p>
	<p>
		<%= text_field "comment", "email" %>
		<label for="comment_email">Your email (mandatory, never shown)</label>
  	</p>
  	<p>
		<%= text_field "comment", "url" %>
		<label for="comment_url">Your website</label>
  	</p>
	<p>
		<%= text_area 'comment', 'body' %>
	</p>
	<p>
    <%= submit_tag 'Submit', :id => 'form-submit-button', :class => 'submit' %>
  </p>
<% end %>
